openapi: 3.1.0
info:
  title: VX Unit Query API
  version: 1.0.0
  description: Retrieve unit query data for analysis.
servers:
  - url: https://aoa.rabbitholesolution.com/vx

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    UnitQueryResponse:
      type: object
      additionalProperties: false
      properties:
        totalSize:
          type: integer
          description: Total number of matching records.
        done:
          type: boolean
          description: Whether the query is complete.
        records:
          type: array
          items:
            $ref: "#/components/schemas/UnitRecord"
      required: [totalSize, done, records]

    UnitRecord:
      type: object
      description: A Unit__c record.
      # We define known fields, but allow SF/custom fields too.
      additionalProperties: true
      properties:
        attributes:
          $ref: "#/components/schemas/SFAttributes"
        Id:
          type: string
        Name:
          type: string
          nullable: true
        Status__c:
          type: string
          nullable: true
        Sub_Status__c:
          type: string
          nullable: true
        Unit_Offline__c:
          type: boolean
          nullable: true
        Model__c:
          type: string
          nullable: true
        GPS_IMEI__c:
          type: string
          nullable: true
        GPS_URL__c:
          type: string
          nullable: true
        Spot_Ai_Serial_Number__c:
          type: string
          nullable: true
        Starlink_Serial_Number__c:
          type: string
          nullable: true
        Carbo_Gx_Serial_Number__c:
          type: string
          nullable: true
        LastModifiedDate:
          type: string
          nullable: true
          description: Salesforce datetime string.

    SFAttributes:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        url:
          type: string
      required: [type, url]

security:
  - bearerAuth: []

paths:
  /unit_query.php:
    get:
      operationId: getUnitQuery
      summary: Get unit query data (JSON) for analysis
      description: Always apply filters and keep limit small to reduce payload size and latency.
      x-openai-isConsequential: false
      parameters:
        - name: unit_id
          in: query
          required: false
          schema:
            type: string
          description: Optional unit identifier filter.
        - name: from
          in: query
          required: false
          schema:
            type: string
          description: Optional start date (YYYY-MM-DD).
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: Optional end date (YYYY-MM-DD).
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Optional limit to keep payload small.
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Optional status filter. Accepts a single value or CSV list (e.g. "active,inactive").
        - name: sub_status
          in: query
          required: false
          schema:
            type: string
          description: Optional sub-status filter. Accepts a single value or CSV list.
        - name: offline
          in: query
          required: false
          schema:
            type: boolean
          description: Optional boolean filter; when true returns only offline units, when false only online units.
        - name: model
          in: query
          required: false
          schema:
            type: string
          description: Optional model filter. Accepts a single value or CSV list.
        - name: modified_since
          in: query
          required: false
          schema:
            type: string
          description: Optional ISO-8601 timestamp to return units modified after the given time.
        - name: fields
          in: query
          required: false
          schema:
            type: string
          description: Optional CSV projection of fields to return; include only needed fields to reduce payload.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Optional paging offset; use with limit for page-based pagination (omit if using cursor).
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: Optional paging cursor token for cursor-based pagination (omit if using offset).
      responses:
        "200":
          description: Salesforce-style query response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitQueryResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
